target/classes/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:twilio-connector="http://www.mulesoft.org/schema/mule/twilio-connector"
	xmlns:twilio="http://www.mulesoft.org/schema/mule/twilio" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/twilio http://www.mulesoft.org/schema/mule/twilio/current/mule-twilio.xsd
http://www.mulesoft.org/schema/mule/twilio-connector http://www.mulesoft.org/schema/mule/twilio-connector/current/mule-twilio-connector.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">
	<flow name="sms_twilio_flow" doc:id="18b78e97-fa6e-4c74-9437-90e98b8b4941" >
		<logger level="INFO" doc:name="Logger" doc:id="5b111de6-3a89-4b2c-8fa7-4bf319aaa755" message='#["Flow Started"]'/>
		<ee:transform doc:name="Prepare Input Message" doc:id="5b458f7d-10ae-4ee1-854f-adcbaff3d255" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable resource="inputMessage.dwl" variableName="inputmessage" />
			</ee:variables>
		</ee:transform>
		<try doc:name="Try" doc:id="3d34fb02-6c21-4a27-ad2a-fd336f557c77" >
			<until-successful maxRetries="3" doc:name="Until Successful" doc:id="e7d1fdc4-cd0c-4ab5-ba2b-6f30fe2e203b" millisBetweenRetries="5000">
				<twilio:create20100401-accounts-messagesjson-by-account-sid doc:name="Create Message" doc:id="24ac2fc8-23d9-483a-88a5-d9459987c53e" config-ref="Twilio_Connector_Config" accountSid="${secure::twilio.user}">
			<twilio:accounts-messages-content><![CDATA[#[vars.inputmessage]]]></twilio:accounts-messages-content>
		</twilio:create20100401-accounts-messagesjson-by-account-sid>
			</until-successful>
			<error-handler>
				<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="102f7222-26d7-45bc-9dec-56d5e081d427" type="TWILIO:CONNECTIVITY">
					<ee:transform doc:name="Transform Message" doc:id="6f2f1af2-1d6e-4aeb-956d-b2f2a6da949d" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Message": "Twilio Connectivity Error"
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
				</on-error-propagate>
			</error-handler>
		</try>
		<ee:transform doc:name="Success Message" doc:id="ab53d606-fc64-46b0-97f7-c3d955e51108">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---

{
	"Sms body ": payload.body,
	"Receiver ": payload.to,
	"Status ": payload.status
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="c7f5a56b-7592-43b7-ba5d-48e79649a49a" message='"Flow Ended" #[payload]'/>
	</flow>
</mule>
